<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Search_This_Directory</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 <link th:href="@{/bootstrap.css}" rel="stylesheet" />
	<link th:href="@{/signin.css}" rel="stylesheet" />
</head>


<body class="text-center">
<main class="form-signin">
    <form  action="#" th:action="@{/Indexing_Directory_System/Process_This_Directory/Options/search/file}"  method="post" id="MyForm">
    <div class="form-group">
    <label for="exampleInputEmail1">Search_File_In_Whole_Directory</label>
    <input type="text" name="filename" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the Filename" required>
  </div>
  <button type="submit" class="btn btn-primary" id="submit">Submit</button>
	</form>	
</main>
<script type="text/javascript" th:src="@{/checker.js}"></script>
</body>
</html>